
@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/Roboto-Regular.otf") format("opentype"), /* Open Type Font */
      url("./fonts/Roboto-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/Roboto-Regular.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular";
    font-weight: normal;
}
.header-section{
    background-image: url("img/header-bg.png");
    background-size: cover;
    overflow: hidden;
    padding-bottom: 90px;
}
.header-left{
    width: 42%;
    float: left;
    margin-left: 133px;
    padding-top: 154px;
}
.header-left h2{
    font-size: 45px;
    text-transform: capitalize;
    font-weight: bold;
    color: #EC4C7A;
    margin-bottom: 20px;
}
.header-left h3{
    font-size: 26px;
    margin-bottom: 8px;
    color: #2A2E32;
}
.header-left p{
    font-size: 14px;
    margin-bottom: 22px;
    padding-top: 8px;
}
.hire-link{
    width: 96px;
}
.hire-link a{
    background: linear-gradient(45deg, #EC4F90, #EC4C78);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 32px;
    display: block;
    border: 1px solid #ed4b4b;
    border-radius: 8px;
}

.header-right{
    width: 47%;
    float: right;
    padding-top: 92px;
}
.header-right img{
    width: 85%;
    
}

/* biography area start here */
.biography{
    background-image: url(img/biography-bg.png);
    overflow: hidden;
    background-size: cover;
    padding-top: 108px;
    padding-bottom: 100px;
}
.boi-left{
    width: 45%;
    float: left;
}
.boi-left img{
    width: 70%;
    margin-left: 142px;
}

.boi-right{ 
    width: 50%;
    float: right;
    margin-top: 50px;
    padding-top: 40px;
}

.boi-right h2{
    color: #202428;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 35px;
}
.boi-right p{
    color: #828283;
    width: 73%;
    text-align: justify;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 30px;
}

.boi-right a{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec5195+0,ec4c7a+100 */
background: rgb(236,81,149); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(236,81,149,1) 0%, rgba(236,76,122,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(236,81,149,1) 0%,rgba(236,76,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(236,81,149,1) 0%,rgba(236,76,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec5195', endColorstr='#ec4c7a',GradientType=1 ); /* IE6-9 */

    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 28px;
    font-size: 15px;
    border-radius: 8px;
}



/* latest work style start here */
.latest-work{
    background-image: url("img/latest-work-bg.png");
    overflow: hidden;
    background-size: cover;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 100px;
   
}

.latest-work h2{
    color: #000;
    text-transform: capitalize;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 65px;
}

.work-details{
    margin-left: 80px;
}
.single-work{
    width: 30%;
    float: left;
}
.single-work img{
    width: 70%;
}
/* footer-area start */

.footer-section{
    background-image: url(img/footer-bg.png);
    overflow: hidden;
    background-size: cover;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 30px;
  
}
.footer-section h2{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 60px;
}
.footer-section h4{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-section h5{
    color: #878787;
    font-size: 11px;
    line-height: 15px;
}
.footer-section p{
    padding-top: 30px;
    font-weight: normal;
    font-size: 14px;
    width: 20%;
    margin: auto;
}
.contact{
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec5195+0,ec4c7a+100 */
background: rgb(236,81,149); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(236,81,149,1) 0%, rgba(236,76,122,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(236,81,149,1) 0%,rgba(236,76,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(236,81,149,1) 0%,rgba(236,76,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec5195', endColorstr='#ec4c7a',GradientType=1 ); /* IE6-9 */
    width: 28%;
    margin: 50px auto;
    padding: 18px 50px;
    color: #fff;
    border-radius: 10px;
}

.contact h4{
    font-weight: normal;
    font-size: 11px;
    margin-top: 5px;
}
.contact h2{
    font-size: 25px;
    font-weight: normal;
    text-transform: none;
    margin-top: 9px;
    line-height: 28px;
    margin-bottom: 16px;
}
.reserved{
    color : #707070;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
